/* Basic Styles */
h1 {
	font-family: 'Work Sans', 'Open Sans', sans-serif;
	font-size: 5rem;
	color: white;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	color: white;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 1.65em;
	text-align: center;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	color: white;
}

.microcopy {
	font-size: .75rem;
	color: white;
}

body {
	margin: 0 auto;
	background-color: rgb(16, 16, 16);
	/* background-image: url(https://images.unsplash.com/photo-1530554764233-e79e16c91d08?ixlib=rb-0.3.5&s=fb25f799e5ffcbf93b6c708ffccb9ecf&auto=format&fit=crop&w=934&q=80); */
	background-repeat: no-repeat;
	background-position: left;
	background-attachment: fixed;  	/* won't scroll */
}

button {
	background-color: white;
	box-sizing: border-box;
	height: 5rem;
	width: 15rem;
	border: black solid 1px;
	border-radius: 10px;
	padding: 1rem 1rem;
}

/* Navigation Menu */
.navigation {
	box-sizing: border-box;
	width: 100vw;
	padding: 0em 14em;
	border-bottom: solid grey 1px;
	/* background-color: rgb(16, 16, 16); */
	position: absolute;
	top: 0;
	left: 0;
}

.menu-items {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
}

/* Splash Screen */
#splashscreen {
	height:100vh;
	display: flex;
	align-items: center;
	background-image: url(https://images.unsplash.com/photo-1530554764233-e79e16c91d08?ixlib=rb-0.3.5&s=fb25f799e5ffcbf93b6c708ffccb9ecf&auto=format&fit=crop&w=934&q=80);
	background-repeat: no-repeat;
	background-size: auto;
	/* background-color: rgb(16, 16, 16); */
	background-position: left;
	background-attachment: fixed;  	/* won't scroll */
}

/* .left {
	margin: 100vh 27vw;
} */

#right {
	/* display: flex;
	justify-content: center;
	align-self: center; */
	margin-left: 50%;
}


/* Main */
#card {
	background-color: rgb(245, 245, 245);
	height: 200vh;
	width: 80vw;
	margin: 0 auto;
	margin-bottom: 250px;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	/* box-shadow: 1px 10px 30px #999999; */
}

.rectangle-full {
	background-color: rgb(100, 100, 230);
	padding: 30px;
	height: 650px;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}

.rectangle-half {
	background-color: rgb(230, 230, 230);
	padding: 30px;
	height: 650px;
	width: 50%;
	margin: 0;
	box-sizing: border-box;
	/* margin-left: 5vw; */
}

/* Content-1 */
.content-1 {
	height: 100%;
	width: 100%;
	padding: 15px;
	position: relative;
	box-sizing: border-box;
}

.place-image {
	position: absolute;
	/* margin: 20% 0% 0% 5%; */
}

.rect-full-copy {
	position: absolute;
	top: 35%;
	left: 55%;
}

/* Input form */
form {
	position: relative;
	/* top: 30%;
	left: 55%; */
}

input {
	margin-top: 25px;
	position: absolute;
	font-size: 18px;
	padding: 10px;
	display: block;
}

label {
	position: absolute;
}

input:focus + label, input:valid + label {
	transform: translate(-10px);
}
